@import url('https://fonts.googleapis.com/css?family=Cinzel&display=swap');
@import url('https://fonts.googleapis.com/css?family=Bebas+Neue&display=swap');

.font-cinzel {
  font-family: 'Cinzel', serif;
}

.font-bebas-neue {
  font-family: 'Bebas Neue', cursive;
}

.smooth {
  transition: all .25s ease-in-out;
}
